.DS_Store
node_modules

# local env files
.env.local
.env.*.local

#localFiles
loginSkip.txt

#buildFiles
build
dist

# zip/rar files
*.zip
*.rar

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.xml
